URL=localhost:5000
# Follow this guide https://docs.mapbox.com/help/dive-deeper/access-tokens/ for an access token"
MAPBOX_API_KEY="your_token_here"
MYSQL_HOST="localhost"
MYSQL_USER="user"
MYSQL_PASSWORD="password"
MYSQL_DATABASE="database"