<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/81fe88e261.js"
      crossorigin="anonymous"
    ></script>

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    {% include 'nav_header.html' %}

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/headshot.jpg" />
      </div>
      <h1>{{ title }}</h1>
      <div id="bio" class="responsive-lg">
        <h3>
          Computer Science at The University of Florida | PE Fellow at Meta &
          MLH
        </h3>
      </div>
      <div id="socials">
        <a href="https://blog.alejandrovillate.com" class="link-nodecor">
          <i class="fa-solid fa-blog"></i>
        </a>

        <a href="https://github.com/aleguy02" class="link-nodecor">
          <i class="fa fa-github"></i>
        </a>

        <a
          href="https://linkedin.com/in/alejandrovillate1"
          class="link-nodecor"
        >
          <i class="fa-brands fa-md fa-linkedin"></i>
        </a>
      </div>
      Follow any one of these links to learn more about me!
    </div>

    <!-- shoutout to this repository for inspiration https://github.com/jimmyMsh/PE-portfolio/blob/main/app/templates/index.html -->
    <div id="resume" class="resume-section section">
      <div class="centered-container">
        <h2>Resume</h2>
        <object
          class="centered responsive-lg"
          type="application/pdf"
          data="{{ url_for('static', filename='files/resume.pdf') }}"
          width="65%"
          height="600px"
        >
          <p>
            Your browser can’t display PDFs.
            <a
              href="{{ url_for('static', filename='files/resume.pdf') }}"
              class="btn responsive-sm"
              >Download the resume</a
            >.
          </p>
        </object>

        <a
          href="{{ url_for('static', filename='files/resume.pdf') }}"
          class="btn responsive-sm"
          >View Resume</a
        >
      </div>
    </div>

    <div class="section">
      <div class="centered-container">
        <img
          src="{{ url_for('static', filename='img/pixel-cat.webp') }}"
          alt="Animated GIF"
        />
      </div>
    </div>
  </body>
</html>
