<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/headshot.jpg" />
      </div>
      <h1>{{ title }}</h1>
      <div id="bio">
        <p>
          I'm a Computer Science major at the University of Florida who loves
          writing code. In my free time, I love staying up to date on the latest
          in tech and video games, taking care of my bonsai trees, using my art
          skills (either by drawing or making UIs), and cooking new recipes.
        </p>
      </div>
    </div>
    <div class="about-section">
      <section class="experience-section section">
        <h2>Work Experience</h2>
        {% for item in work_experience %}
        <div class="position">
          <div class="position-title">{{ item.title }}</div>
          <div class="position-meta">
            <span>{{ item.meta.company }}</span>
            <span>{{ item.meta.dates }}</span>
          </div>
          <ul>
            {% for bullet in item.bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </section>

      <section class="hobbies-section section">
        <h2>Hobbies</h2>
        {% for hobby in hobbies %}
        <div class="hobby">
          <img src="{{ hobby.img.src }}" alt="{{ hobby.img.alt }}" />
          <div class="hobby-description">
            <div class="hobby-title">{{ hobby.title }}</div>
            <p>{{ hobby.one_liner }}</p>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
